<!DOCTYPE html>
<html dir="rtl" lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="UTF-8">
    <title> </title>
    <meta http-equiv="Content-Type" content="text/html,charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link type="text/css" href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/stylehome.css">
    <link href="/bootstrap/js/bootstrap.js">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="jquery-3.4.1.min.js"></script>

    <! هندلر تعریف شده برای کار با رویدادها>
    <script type="text/javascript" src="/ehandler.js"></script>

    <!  سورس کد تبدیل اعداد به فارسی  >
    <script src="/persianumber/persianumber.js"></script>

  

</head>
<body>


    <div id="" class="container">
        <div id="navbar" class="row">
            <div style="background: ;" class="col-sm-12 col-md-6">
                <img src="/images/logo.png" id="logo">
                <p id="topic-site">
                   مشاهده کتاب های کتابخانه دانگاه شهید یزدان پنا 
                </p>
            </div>
            <div style="background: ;" class="col-sm-6 col-md-3">

                <div id="search-box">
                    <form action="/Search" method="get">
                        <input id="textbox-search" name="search" placeholder="جست و جو"><img src="/images/magnifier.png" id="search-icon">
                    </form>
                  
                </div>

            </div>

            <div style="background: ;" class=" col-sm-6 col-md-3">

                <div id="sign-links" style="background: ;">
                   
                    @if(User.Identity.IsAuthenticated)
                    {
                        <a href="/Admin" id="signup"> پنل مدیریت</a>
                        <a href="/LogOut" id="signup"> خروج </a>
                    }
                    else
                    {
                    <a href="/Login" id="signin"> ورود</a>
                    <a href="/SignUp" id="signup"> ثبت نام</a>                    
                    }
                    /
                    <a href="/" id="signup"> خانه</a>
                    <a href="/" id="signup"> درباره ما</a>

                  @*   <span id="cart-shop" style="background: ;">
                        <span>
                            <img src="/images/shop-icon.png" id="shop-icon">
                            <span id="basket"> سبد خريد </span>
                        </span>
                    </span> *@

                </div>
            </div>
        </div>


        <! ستون سمت راست دراپ دون >
        <div class="row">
            <div id="navbar-2" class="col-md-12 ">
                <div class="dropdown">
                    <button id="btn" type="button" class="btn btn-primary" data-toggle="dropdown">

                        <hr id="drp-menu">
                        <hr id="drp-menu">
                        <hr id="drp-menu">

                    </button>
                    <div class="dropdown-menu">

                        @await Component.InvokeAsync("MostVisitMobile")


                        <div id="drp-header" class="dropdown-header">
                            تازه ترين ها
                        </div>
                        @await Component.InvokeAsync("SuggestionBook")
                        

                       

                       
                    </div>
                </div>
                <div id="navbar-links">
                                        
                    @await Component.InvokeAsync("ArticleGroupComponent")              

                </div>

            </div>


        </div>


        <! بدنه اصلی سایت >


      @RenderBody()





        <! footer section >
        <div id="footer" class="row">
           
            <div id="footer-col" class="col-sm-6 col-md-3">

                <p id="footer-topic">خدمات مشتریان </p>
                <p id="footer-text"> <a href="#" class="footer-link"> پاسخ به پرسش ها</a></p>
                <p id="footer-text"> <a href="#" class="footer-link">همکاری با ما</a></p>
                <p id="footer-text"><a href="#" class="footer-link"> شرایط بازگشت کالا </a></p>
                <p id="footer-text"> <a href="#" class="footer-link">درباره ما</a></p>
                <p id="footer-text"> <a href="#" class="footer-link">  ارتباط با ما</a></p>

            </div>
            <div id="footer-col" class="col-sm-6 col-md-3">

                <p id="footer-topic"> ما را در شبکه های اجتماعی دنبال کنید : </p>
                <p id="footer-text"> <a href="#"><img id="instagram-logo" src="/images/instagram-logo.png"></a> </p>
                <p id="footer-text"> <a href="#"><img id="instagram-logo" src="/images/telegram-logo.png"></a> </p>


            </div>
            <div id="footer-col" class="col-sm-6 col-md-3">
                <p id="footer-topic"> </p>
                <p id="footer-topic"> <img id="footer-logo" src="/images/logoo.jpg"> </p>             

            </div>
        </div>


        <div class="row">
            <div id="footer-2" class="col-md-12 ">

                تمامی حقوق محفوظ است


            </div>
          

           

        </div>
    </div>
    <partial name="_Scripts" />
    @RenderSection("Scripts", false)


</body>
</html>