
@{
    ViewData["Title"] = "درباره ما";
}

<div class="container">
    <div class="row">
        <div class="alert alert-info">
            <p><h1>درس پروژه استاد سمیه رنجبر</h1></p>
            <h2>نام : مریم عقابی</h2>
            <h2>کد ملی: 3330486910</h2>
            <h2>شماره دانشجویی: 00111116302019</h2>
            <h2></h2>
            
        </div>
    </div>
</div>

