@model IEnumerable<Wanyar.Core.DTOs.Article.GetArticleForSHowViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    
}



<div class="row">

    <!-- ستون سمت راست ثابت -->
    <div id="right-col-md" style="background: ;" class="col-sm-6 col-md-3">

        @await Component.InvokeAsync("MostVisit")

     

        <div id="right-col">
            <p id="right-col-text-topic">
              جدید ترین ها
            </p>
            <hr id="right-hr">

            @await Component.InvokeAsync("SuggestionBook")
          

        </div>
    </div>


    <!-- ستون سمت چپ -->


    <div id="left-col-md" style="background: ;" class="col-sm-6 col-md-9">

       

        <div id="left-col">

           


            @await Component.InvokeAsync("LastArticles")

         

        </div>

      
       

        <div id="pagination">

            <div id="pagination-num">
                <img id="arrow-pagination-backward" src="images/arrow-backward.png">
                <span id="numbers-pagination">۱</span>
                <span id="numbers-pagination">۲</span>
                <span id="numbers-pagination">۳</span>
                <span id="numbers-pagination">۴</span>
                <span id="numbers-pagination">۵</span>

                <img id="arrow-pagination-forward" src="images/arrow-forward.png">


            </div>
        </div>


    </div>
</div>

