@model IEnumerable<Wanyar.Core.DTOs.Article.GetArticleForSHowViewModel>

@{
    ViewData["Title"] = "SearchBook";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<partial name="_ArticleBox" />

<div class="clearfix"></div> 