@model Wanyar.DataLayer.Entities.Article

@{
    ViewData["Title"] = "ShowArticle";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}




<div id="footer" class="row" dir="rtl">
    <div id="footer-col" class="col-sm-12 col-md-12" style="text-align:right">


        <p id="footer-topic">
            <div class="d-flex justify-content-center">
                <img style="max-width:450px;" src="/Picture/@Model.ArticleImageName" class="img-fluid justify-content-center" />
            </div>

            
        </p> 
     
        <hr />
        <br />
        <p class="text-right" dir="rtl">
            @Html.Raw(Model.Text)
        </p>
       
        


    </div>
    
    
    </div>
<div id="footer-col" class="col-sm-6 col-md-3" style="text-align:right">


    <ul class="categories">
        @if (Model.Tags != null)
        {
            foreach (var item in Model.Tags.Split(",", StringSplitOptions.RemoveEmptyEntries))
            {
                <h3>
                    <a class="bg-info text-danger" href="">@item</a>
                </h3>
            }
        }

    </ul> 

    </div>
</div>

