@* @model IEnumerable<Wanyar.Core.DTOs.Article.SliderViewModel>
 *@
    @model IEnumerable<Wanyar.Core.DTOs.Article.GetArticleForSHowViewModel>


    @foreach (var item in Model)
    {
        


       <div id="left-col-1">
            <a href="/Home/ShowArticle/@item.articleId" id="left-col-1-link">
                <img id="img-left-col-1" src="/Picture/@item.ArticleImageName">
                <div id="cap-left-col">
                    @item.ArticleTitle      
                </div>
                <div id="price"> more </div>
            </a>
            <hr id="left-hr">     
        </div>




      

            
     }



