@model Wanyar.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}


<div class="container">
    <div class="row" style="margin:20px">
        @if (ViewBag.IsSuccess==true)
        {
            <div class="alert alert-info">
                <p>
                    ایمیل بازیابی کلمه عبور برای شما ارسال شد لطفا به ایمیل خود بروید.
                </p>
            </div>
        }
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">

            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-send"></i></span>
                <input type="email" class="form-control" asp-for="email" placeholder="ایمیل" aria-describedby="sizing-addon2">
            </div>
            <span asp-validation-for="email"></span>     

            <button class="btn btn-success form-control" type="submit">ارسال ایمیل</button>
        </form>
    </div>

</div>

