@model Wanyar.Core.DTOs.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}




@if (ViewBag.IsActive==true)
{
  <div class="container">
      <div class="row">
            <div class="alert alert-info">
                <p>ورود به سایت با موفقیت انجام شد</p>
                <p>سایت وانیار به شما خیر مقدم عرض   میکند</p>
            </div>
      </div>
  </div>
    <script>
        var delay = 2000;
        setTimeout(function () { window.location = "https://localhost:44312/"; }, delay);
    </script>
}

<div class="container">
    <div class="row" style="margin:20px">
        <form asp-controller="Account" asp-action="Login" method="post">
           
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-send"></i></span>
                <input type="email" class="form-control" asp-for="email" placeholder="ایمیل" aria-describedby="sizing-addon2">
            </div>
            <span asp-validation-for="email"></span>
            
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-filter"></i></span>
                <input type="password" class="form-control" asp-for="password" placeholder="کلمه عبور" aria-describedby="sizing-addon2">

            </div>
            <span asp-validation-for="password"></span>

            <div class="remember-me">
                <label><input asp-for="RememberMe" type="checkbox" name="">  مرا بخاطر بسپار </label>
            </div>

            <div class="link">
                <a href="/ForgotPassword"><i class="zmdi zmdi-lock"></i> رمز عبور خود را فراموش کرده ام  ! </a>
                <a href="/SignUp"> <i class="zmdi zmdi-account"></i> عضویت در سایت </a>
            </div>
            <button class="btn btn-success form-control" type="submit">ثبت نام</button>
        </form>
    </div>

</div>