@model Wanyar.Core.DTOs.RessetPasswordViewModel
@{
    ViewData["Title"] = "RessetPassword";
}

<div class="container">
    <div class="row" style="margin:20px">
        <form asp-controller="Account" asp-action="RessetPassword" method="post">
            <input type="hidden" asp-for="activecode" />
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-filter"></i></span>
                <input type="password" class="form-control" asp-for="password" placeholder="کلمه عبور" aria-describedby="sizing-addon2">

            </div>
            <span asp-validation-for="password"></span>

            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-filter"></i></span>
                <input type="password" class="form-control" asp-for="RePassword" placeholder="تکرار کلمه عبور" aria-describedby="sizing-addon2">

            </div>
            <span asp-validation-for="password"></span>

            <button class="btn btn-success form-control" type="submit">ثبت تغییر</button>
        </form>
    </div>

</div>
