@model IEnumerable<Wanyar.Core.DTOs.Article.visitshow>


<div class="dropdown-divider"></div>

<div id="drp-header" class="dropdown-header">
    پر بازدید ها
</div>
 @foreach (var item in Model)
{
    <div id="drp-right-col-text"><a href="/Home/ShowArticle/@item.articleId" id="right-col-text"> @item.ArticleTitle (@item.visit) </a></div> 

}

<div class="dropdown-divider"></div>